<div class="container">
    <div class="pt-5">
        <h1 class="mb-3">Welcome to Resolver app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequuntur rerum possimus necessitatibus
            repellendus unde quo, cum voluptatem? Debitis quas impedit soluta ratione repudiandae voluptatibus
            voluptatem quia quibusdam hic ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugit
            deserunt accusantium nam repellendus, quam facilis impedit voluptas sunt corrupti expedita dolores! Ab rerum
            ipsam adipisci minima dolore eius vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequuntur rerum possimus necessitatibus
            repellendus unde quo, cum voluptatem? Debitis quas impedit soluta ratione repudiandae voluptatibus
            voluptatem quia quibusdam hic ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugit
            deserunt accusantium nam repellendus, quam facilis impedit voluptas sunt corrupti expedita dolores! Ab rerum
            ipsam adipisci minima dolore eius vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequuntur rerum possimus necessitatibus
            repellendus unde quo, cum voluptatem? Debitis quas impedit soluta ratione repudiandae voluptatibus
            voluptatem quia quibusdam hic ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugit
            deserunt accusantium nam repellendus, quam facilis impedit voluptas sunt corrupti expedita dolores! Ab rerum
            ipsam adipisci minima dolore eius vitae!</p>
    </div>
</div>